.row
{
    display: flex;
}

.column
{
    flex: 33.33%;
    padding: 5px;
}

img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
h3{
    text-align: center;
}

p{
    text-align: center;
}
